/* WorldClockApp.module.css */

/* Clock container styles */
.clockCard {
  border-radius: 50%; /* Make the clock circular */
  background-color: rgb(29, 29, 29);
  border: 2px solid #00ff62;
  color: #b1a8a8;
  width: 150px; /* Fixed width for each clock */
  height: 150px; /* Fixed height to ensure circular shape */
  display: flex;
  flex-direction: column; /* Stack the city name and time vertically */
  justify-content: center;
  align-items: center; /* Center the content inside the circle */
  margin: 5px; /* Reduced margin between clocks */
  text-align: center; /* Center the text inside the clock */
}

.clockTitle {
  font-size: 1.5rem; /* Set fixed font size */
  font-weight: bold;
  margin: 0; /* Remove margin */
}

.clockHeader {
  font-size: 1rem; /* Smaller font size for city name */
  margin-bottom: 5px; /* Space between the city and time */
}

.cardBody {
  font-size: 1.2rem; /* Font size for time */
}

/* Parent container with CSS Grid */
.row {
  display: grid;
  grid-template-columns: repeat(
    auto-fill,
    minmax(120px, 1fr)
  ); /* Adjust columns based on available space */
  gap: 10px; /* Reduced gap between clocks */
  padding: 20px;
  margin-top: 20px;
}

/* WorldClock container styles */
.worldClock {
  border: 3px solid rgba(255, 255, 255, 0.3);
  border-radius: 10px;
  width: 100%; /* Keep it responsive */
  max-width: 700px; /* Reduced max-width to make the container smaller */
  overflow: hidden;
  color: #00ff62;
  padding-top: 10px;
  margin: 0 auto; /* Center the worldClock container */
}

/* Header Styles */
.worldClock h1 {
  text-shadow: 2px 2px 5px rgba(79, 79, 65, 0.6);
}

/* Main container styles */
.container {
  min-height: 100vh; /* Ensure full height for the container */
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column; /* Stack vertically */
  gap: 1rem;
  flex-grow: 1;
  width: 100%;
  max-width: 800px; /* Reduced maximum width of the container */
  margin: 0 auto; /* Center the entire container */
  padding: 20px; /* Add padding to avoid touching edges */
}

.dropdown-menu {
  max-height: 300px;
  overflow-y: auto;
}

.textCenter {
  text-align: center;
}

/* Body styling */
body {
  background-color: #0f0f0f; /* Set background color */
  color: white;
}

@media (max-width: 768px) {
  /* For screens smaller than 768px (Tablets) */
  .row {
    grid-template-columns: repeat(auto-fill, minmax(160px, 1fr)); /* Even smaller columns */
    gap: 20px;
  }


}

@media (max-width: 480px) {
  /* For screens smaller than 480px (Mobile devices) */
  .row {
    grid-template-columns: repeat(auto-fill, minmax(120px, 1fr)); /* Smaller columns for mobile */
    gap:20px;
  }

}