body {
  background-color: #0f0f0f important!;
  color: #ffffff;
  background-image: linear-gradient(#161616 1px, transparent 1px),
    linear-gradient(to right, #161616 1px, #0f0f0f 1px);
  background-size: 20px 20px;
}

.currencyConverter {
  border: 3px solid rgba(255, 255, 255, 0.3);
  border-radius: 10px;
  max-width: 600px;
  width: 100%;
  overflow: hidden;
  color: #00ff62;
}

.currencyConverter h1 {
  text-shadow: 2px 2px 5px rgba(79, 79, 65, 0.6);
}

.container {
  min-height: 100dvh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: grid;
  gap: 1rem;
  flex-grow: 1;
}

.converterForm {
  margin-top: 20px;
  border-top: 2px solid #808080db;
  padding: 10px;
}

.inputGroup {
  margin-top: 10px;
  display: flex;
  margin-bottom: 9px;
  width: 100%;
  background-color: rgb(29, 29, 29) !important; 
}

.spanElement {
  background-color: rgb(29, 29, 29) !important;
  color: rgba(255, 255, 255, 0.5);
  border-color: rgba(255, 255, 255, 0.180) !important;
  font-size: 1.1rem;
}

.inputAmount{
  outline: none;
  min-height: 50px;
  border-radius: 5px ;
  border-color:  rgba(255, 255, 255, 0.180);
  background-color: rgb(29, 29, 29) !important;
  color: white
}
