.navbar {
  font-size: 1rem;
}

.navbar .navLink {
  color: rgb(173, 173, 173);
}

.navbar .navLink:hover {
  color: rgb(237, 236, 236);
}

.navIcon {
  font-size: 1.75rem;
}

.active {
  font-weight: bold;
  color: white !important;
}

.activeIcon {
  color: white !important;
}

/* Hamburger Icon Right Aligned */
.hamburger {
  margin-left: auto;
}
