.navbar {
  font-size: 1rem;
}

.navbar .nav-link {
  color: white;
}

.navbar .nav-link:hover {
  color: lightgray;
}

.navIcon {
  font-size: 1.25rem;
}

.active {
  font-weight: bold;
  color: white !important;
}

.activeIcon {
  color: white !important;
}

/* Hamburger Icon Right Aligned */
.hamburger {
  margin-left: auto;
}

/* Mobile View Adjustments */
@media (max-width: 768px) {
  .navbar-nav .nav-item {
    flex-direction: row;
    justify-content: start;
    padding: 0.5rem 1rem;
  }

  .nav-link {
    justify-content: start;
    text-align: left;
    font-size: 1.1rem;
  }
}
