body {
  background-color: #0f0f0f important!;
  color: #ffffff;
  background-image: linear-gradient(#161616 1px, transparent 1px),
    linear-gradient(to right, #161616 1px, #0f0f0f 1px);
  background-size: 20px 20px;
}

.notes {
  border: 3px solid rgba(255, 255, 255, 0.3);
  border-radius: 10px;
  max-width: 680px;
  width: 100%;
  overflow: hidden;
  color: #00ff62;
  padding-top: 10px;
}

.notes h1 {
  text-shadow: 2px 2px 5px rgba(79, 79, 65, 0.6);
}

.container {
  min-height: 100dvh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: grid;
  gap: 1rem;
  flex-grow: 1;
}

.notesList {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(2, 300px); /* Default: 2 columns */
  align-items: center;
  justify-content: center;
  color: #d2d3d2;
  overflow-y: auto;
  max-height: 475px;
}

@media (max-width: 768px) {
  .notesList {
    grid-template-columns: 1fr; /* Switch to 1 column */
    justify-content: stretch; /* Ensure proper alignment */
  }
}

.notesList::-webkit-scrollbar {
  width: 10px; /* Width of the scrollbar */
}

.notesList::-webkit-scrollbar-thumb {
  background-color: #00ff62; /* Color of the thumb */
  border-radius: 10px; /* Rounded corners for the thumb */
  border: 2px solid #161616; /* Border around the thumb */
}

.notesList::-webkit-scrollbar-track {
  background-color: #333333; /* Background of the scrollbar track */
  border-radius: 10px;
}

.notesContainer {
  width: auto;
  margin-top: 5px;
  border-top: 2px solid #808080db;
  padding: 20px;
}

.note {
  background-color: #5c5757;
  border-radius: 10px;
  min-height: 230px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  white-space: pre-wrap;
}

.editNote {
  display: flex;
  flex-direction: column;
}

.noteFooter {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.addNote {
  background-color: #323432;
  border-radius: 10px;
  height: 230px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  white-space: pre-wrap;
}

.addNote textarea {
  border: none;
  resize: none;
  background-color: #323432;
  color: #ffffff;
}

.addNote textarea:focus {
  outline: none;
}

.addNote input {
  border: none;
  resize: none;
  background-color: #323432 !important;
  color: #8f9b93;
}

.addNote input:focus {
  outline: none;
}
.addNote button {
  font-size: 1rem;
  border: 2px solid #00ff62;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease, color 0.3s ease;
  color: #a7a7a7;
  background-color: #16161669;
}

.addNote button:hover {
  border-color: #a7a7a7;
}

.icon {
  cursor: pointer;
}

.icon:hover {
  color: #00ff62 !important;
}

.search {
  position: sticky;
  top: 0;
  z-index: 10;
  border-radius: 10px;
  background-color: rgb(29, 29, 29) !important;
}

.search input {
  border: none;
  background-color: rgb(29, 29, 29) !important;
}

.search input:focus {
  outline: none;
}

.note textarea {
  border: none;
  resize: none;
  background-color: #5c5757;
  color: #ffffff;
}

.note textarea:focus {
  outline: none;
}

.note input {
  border: none;
  resize: none;
  background-color: #5c5757 !important;
  color: #c6c6c6;
}

.note input:focus {
  outline: none;
}
